[submodule ".vim/bundle/crefvim"]
	path = .vim/bundle/crefvim
	url = http://github.com/vim-scripts/CRefVim.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = http://github.com/vim-scripts/surround.vim.git
[submodule ".vim/bundle/valgrind"]
	path = .vim/bundle/valgrind
	url = http://github.com/vim-scripts/valgrind.vim.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = http://github.com/vim-scripts/Auto-Pairs
[submodule ".vim/bundle/sudo"]
	path = .vim/bundle/sudo
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/doxygentoolkit"]
	path = .vim/bundle/doxygentoolkit
	url = http://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule ".zsh"]
	path = .zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-copycat"]
	path = .tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/vim-tmux-focus-events"]
	path = .tmux/plugins/vim-tmux-focus-events 
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
